// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
}

header {
  margin: 33px;
  font-size: 14px;
}

main {
  margin: 20px;
  font-size: 12px;
}

p {
  margin: 33px;
}

